td a {
    text-decoration-line: none;
}
th a {
    text-decoration-line: none;
}
table, thead, tbody, tr, th, td {
    border: solid thin;
    border-collapse: collapse;
}
tr.details {
    visibility: collapse;
}
tr.even {
    background-color: lightgray;
}
tr.subtotal-header {
    visibility: collapse;
}
td.money {
    text-align: right;
}
/* Start of making a scrollable table with fixed headers
thead th {
    top: 0;
    position: sticky;
    z-index: 20;
    min-height: 30px;
    height: 30px;
}

.col-id-no {
    left: 0;
    position: sticky;
}

.fixed-header {
    z-index: 50;
}
 */