td a {
    text-decoration-line: none;
}
th a {
    text-decoration-line: none;
}
table, thead, tbody, tr, th, td {
    border: solid thin;
    border-collapse: collapse;
}
tr.details {
    visibility: collapse;
}
tr.subtotal-header {
    visibility: collapse;
}
